/**********************************************************************
 * ExceedTube用CSS
 **********************************************************************/

/* カスタムボタン用のツールチップ */
.m424-player-button--tooltip { 
    font-size:          13px !important; 
    font-weight:        500 !important; 
    line-height:        15px !important; 
    position:           fixed !important; 
    transform:          translate(-50%, -150%) !important; 
    pointer-events:     none !important; 
    color:              rgb(238, 238, 238) !important; 
    background-color:   rgba(28, 28, 28, 0.9) !important; 
    text-shadow:        rgba(0, 0, 0, 0.5) 0px 0px 2px !important; 
    padding:            5px 9px; 
    border-radius:      2px !important; 
}